h1.about-heading{
    color: rgba(0, 0, 0, 1);
    font-family: "Barlow",sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 50px;
    background-color: rgb(241, 211, 234);
}

p{
    color: #464646;
    font-size: 21px;
    font-family: "Barlow",sans-serif;
    font-weight: normal;
    font-style: normal;
}






