.submit__button {
    color: #ffffff;
    background-color: #e94076;
    padding: 20px 32px;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
}

.submit__button:hover {
    background-color: white;
    padding: 20px 32px;
    border: 2px solid #e94076;
    color: #e94076;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
}

.contact_container {
    display: flex;
    padding: 55px 32px;
    justify-content: space-around;
}

.text_information {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.space{
    flex-grow: 1;
}
.form_container {
    display: flex;
    font-family: 'Barlow', sans-serif;
    flex-grow: 2;
}

#fname {
    height: 36px;
    width: 450px;
    font-family: 'Barlow', sans-serif;

}

#email {
    height: 36px;
    width: 450px;
    font-family: 'Barlow', sans-serif;

}

#CountryCode {
    height: 36px;
    width: 215px;
    font-family: 'Barlow', sans-serif;

}

#phone {
    height: 36px;
    width: 215px;
    font-family: 'Barlow', sans-serif;

}

#comment {
    height: 108px;
    width: 450px;
    font-family: 'Barlow', sans-serif;
    padding: 5px 0px;
}

.introduction__title {
    font-weight: bolder;
    font-size: 64px;
    padding: 0px 0px 16px;
    font-family: 'Barlow', sans-serif;

}

.introduction__desc {
    /* flex: 3; */
    color: #464646;
    font-size: 24px;
    /* padding: 0px 0px 36px; */
    max-width: 50%;
}

.phone_container {
    display: flex;
    flex-direction: row;

}

.widget-inner{
    padding:11px;
}


