
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

section {
  position: relative;
  min-height: 100vh;
  background-color: #f94343;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width:100%;
}

section .container {
  position: relative;
  width: 800px;
  height: 500px;
  background: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

section .container .user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}


section .container .user .imgBx {
  position: relative;
  width: 50%;
  height: 100%;
  background: #ff0;
  transition: 0.5s;
}

section .container .user .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section .container .user .formBx {
  position: relative;
  width: 50%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  transition: 0.5s;
}

section .container .user .formBx form h2 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  color: #555;
}

section .container .user .formBx form input {
  position: relative;
  width: 100%;
  padding: 10px;
  background: #f5f5f5;
  color: #333;
  border: none;
  outline: none;
  box-shadow: none;
  margin: 8px 0;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
}

section .container .user .formBx form input[type='submit'] {
  max-width: 100px;
  background: #f94343;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.5s;
}

section .container .user .formBx form .signup {
  position: relative;
  margin-top: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #555;
  text-transform: uppercase;
  font-weight: 300;
}

section .container .user .formBx form .signup a {
  font-weight: 600;
  text-decoration: none;
  color: #f94343;
}


section .container .signupBx {
  pointer-events: none;
}

section .container.active .signupBx {
  pointer-events: initial;
}

section .container .signupBx .formBx {
  left: 100%;
}

section .container.active .signupBx .formBx {
  left: 0;
}

section .container .signupBx .imgBx {
  left: -100%;
}

section .container.active .signupBx .imgBx {
  left: 0%;
}

section .container .signinBx .formBx {
  left: 0%;
}

section .container.active .signinBx .formBx {
  left: 100%;
}

section .container .signinBx .imgBx {
  left: 0%;
}

section .container.active .signinBx .imgBx {
  left: -100%;
}

@media (max-width: 991px) {
  section .container {
    max-width: 400px;
  }

  section .container .imgBx {
    display: none;
  }

  section .container .user .formBx {
    width: 100%;
  }
}

form{
    display:flex;
    flex-direction: column;
    align-items: center;
}


* {
  padding: 0;
  margin: 0;
  
  box-sizing: border-box;
}

:root {
  --toast-light-bg: #ffffff;
  --toast-light-clr: #000000;

  --toast-dark-bg: #212121;
  --toast-dark-clr: #ffffff;
}

.toast__container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  position: absolute;
}

.toast {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 2.2px rgba(0, 0, 0, 0.02),
    0px 0px 5.3px rgba(0, 0, 0, 0.028), 0px 0px 10px rgba(0, 0, 0, 0.035),
    0px 0px 17.9px rgba(0, 0, 0, 0.042), 0px 0px 33.4px rgba(0, 0, 0, 0.05),
    0px 0px 80px rgba(0, 0, 0, 0.07);
  
}

.toast__toast__success{
  border-top: 5px solid green;

}
.toast__toast__error{
  border-top: 5px solid red;

}

.toast__toast--light {
  background-color: var(--toast-light-bg);
  color: var(--toast-light-clr);
}

.toast__toast--dark {
  background-color: var(--toast-dark-bg);
  color: var(--toast-dark-clr);
}

.toast__container--top-left {
  top: 1rem;
  left: 1rem;
}

.toast__container--top-center {
  top: 1rem;
  left: 50%;
  transform: translatex(-50%);
}

.toast__container--top-right {
  top: 1rem;
  right: 1rem;
}

.toast__container--bottom-left {
  left: 1rem;
  bottom: 1rem;
}

.toast__container--bottom-center {
  left: 50%;
  bottom: 1rem;
  transform: translatex(-50%);
}

.toast__container--bottom-right {
  right: 1rem;
  bottom: 1rem;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Barlow';
  min-height: 100vh;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

.buttons {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
}

button {
  background: none;
  border: none;
  padding: 1rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
  border: solid 3px #212121;
}

button:hover {
  color: #fff;
  background-color: #212121;
}

button:active {
  transform: scale(0.9);
}

.circle {
  position: absolute;
  opacity: 0.5;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  filter: blur(50px);
  z-index: -1;
}

.circle-bottom {
  bottom: -5rem;
  left: -5rem;
  background-color: #ba68c8;
}

.circle-top {
  top: -5rem;
  right: -5rem;
  background-color: #7986cb;
}

