@charset "utf-8";

html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: #fff;
    box-sizing: border-box;
    color: #000;
    font-family: Roboto;
    font-size: 1em;
    line-height: 1.5;
    min-height: 100%;
    position: relative;
}

.reverse-img {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: 5px 0px;
    background: linear-gradient(to top left, #a4b428, #e0e26c);
}

.nreverse-img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
    background: linear-gradient(to top left, #28b487, #7dd56f);
}

.image-person {
    height: 350px;
    width: 350px;
    vertical-align: middle;
    border-radius: 50%;
}

body {
    height: auto;
}

#home-second {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 18px;
}

#home-second h2 {
    font-size: 30px;
}

.btn-pink {
    background-color: #343031;
    /* tbd */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 40px;
}

.btn-gray {
    background-color: #343031; 
    /* tbd */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 40px;
}


